* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #9BF00B;
  --dark: #0C0C0C;
  --gray: #777777;
  --gray-light: #C0C0C0;
  --light: #FFFFFF;
  --border: #2E2E2E;
  --font: "Inter", sans-serif;
}

::-webkit-scrollbar { width: 14px; height: 13px; }

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 3px solid var(--dark);
}

::-webkit-scrollbar-track {  background: var(--dark); }

body { background: var(--dark); }

a { text-decoration: none; }

ul, ol { list-style: none; }

.container { max-width: 1290px; margin: auto; padding: 0 20px; }

nav.container, footer .container { padding: 36px 20px; justify-content: space-between; }

nav.container, .menu ul, footer .container, .copy { display: flex; align-items: center; }

.menu ul li { margin-right: 48px; }

.menu ul li:last-of-type { margin-right: 0; }

.menu ul li a {
  font: 600 1.05rem var(--font);
  line-height: 21px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--light);
}

.disponibilidade {
  font: 700 .9rem var(--font);
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark);
  padding: 21px 30px;
  background: var(--primary);
}

.intro { margin-top: 175px; }

.intro .container { position: relative; }

.ds-intro { text-align: center; }

.ds-intro h1 {
  font: 600 4.5rem var(--font);
  line-height: 115%;
  color: var(--light);
  margin-bottom: 48px;
}

.ds-intro p {
  font: 700 1.5rem var(--font);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 29px;
  color: var(--primary);
}

.img-intro img { width: 100%; height: auto; object-fit: cover; }

.desempenho { margin-top: 290px; }

.desempenho .container { display: flex; }

.ds-desempenho h2 {
  font: 600 4rem var(--font);
  line-height: 130%;
  color: var(--light);
  margin-bottom: 40px;
}

.ds-desempenho h2 span, .perguntas .container h2 span { color: var(--primary); }

.ds-desempenho p {
  max-width: 570px;
  font: 500 1.5rem var(--font);
  line-height: 170%;
  color: var(--gray-light);
}

.jogos { margin-top: 290px; }

.container-jogos { display: flex; overflow-x: auto; }

.single-jogos { position: relative; }

.single-jogos img:nth-of-type(2) { position: absolute; bottom: 67px; left: 90px; }

.perguntas { margin-top:  240px; }

.perguntas .container h2 {
  font: 600 3rem var(--font);
  line-height: 130%;
  color: var(--light);
  margin-bottom: 60px;
}

.single-perguntas { border-bottom: 2px solid var(--border); cursor: pointer; margin-bottom: 43px; }

.pergunta { 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 10px;
}

.pergunta h3 { font: 500 1.5rem var(--font); line-height: 150%; color: var(--light); }

.resposta { max-height: 0; overflow: hidden; transition: max-height 1.4s ease; }

.resposta p {
  font: 500 1.15rem var(--font);
  line-height: 150%;
  color: var(--gray-light);
  padding: 21px 25px 31px;
}

.single-perguntas.active .resposta { max-height: 300px; }

.single-perguntas.active img { transform: rotate(180deg); }

.single-perguntas img { transition: transform .5s ease-in; }

footer { margin-top: 182px; } 

.copy p { font: 400 1.1rem var(--font); line-height: 150%; color: var(--gray); }

.copy p:first-of-type { margin-right: 56px; }

@media screen and (max-width: 990px) {
  .menu { display: none; }

  .img-intro img { width: 100%; height: 400px; }

  .desempenho .container { flex-direction: column; align-items: center; }

  .ds-desempenho { margin-bottom: 70px; }
}

@media screen and (max-width: 713px) {
  .desempenho { margin-top: 270px; }

  .jogos, .perguntas { margin-top: 230px; }

  footer .container { flex-direction: column; align-items: center; }

  footer .container .logo { margin-bottom: 30px; }
}

@media screen and (max-width: 563px) {
  .img-desempenho img { width: 100%; height: auto; }
}

@media screen and (max-width: 484px) {
  .disponibilidade { padding: 17px 22px; }

  .ds-desempenho h2 { font: 600 3.4rem var(--font); }

  .ds-desempenho p { font: 500 1.3rem var(--font); line-height: 35px !important; }

  .copy { display: block; text-align: center; }

  .copy p:first-of-type { margin-bottom: 10px; margin-right: 0; }
}

@media screen and (max-width: 400px) {
  .logo { margin-right: 20px; }

  .logo img { width: 100%; height: auto; }

  .disponibilidade { font: 700 .8rem var(--font); padding: 17px 14px; }
}