* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0F9AFE;
  --white: #FFFFFF;
  --white-200: #EFF8FF;
  --white-400: #EFF8FF;
  --gray-light: #DBDBDB;
  --gray: #6E7275;
  --gray-200: #293145;
  --intro: #EFF8FF;
}

html { scroll-behavior: smooth; }

a { text-decoration: none; }

input { outline: none; border: none; }

ol, ul { list-style: none; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

header { padding: 24px 0; }

nav.container, .menu ul, .intro .container { display: flex; }

nav.container, .intro .container { justify-content: space-between; align-items: center; }

.menu ul li { margin-right: 40px; }

.menu ul li:last-of-type { margin-right: 0; }

.menu ul li a {
  font: 500 1.1rem "Inter", sans-serif;
  line-height: 22px;
  color: var(--gray);
  padding: 5px 10px;
}

.icon-menu { display: none; width: 31px; }

.icon-menu img { width: 100%; height: auto; }

.intro { padding: 60px 0; background: var(--intro); }

.ds-intro h1 {
  max-width: 574px;
  font: 600 3rem "Sora", sans-serif;
  line-height: 60px;
  color: var(--gray-200);
  margin-bottom: 66px;
}

.ds-intro h1 span { display: block; }

.ds-intro a {
  font: 600 1.25rem "Inter", sans-serif;
  line-height: 24px;
  color: var(--white);
  background: var(--blue);
  padding: 16px 36px;
  box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
  border-radius: 50px;
}

.img-intro { position: relative; bottom: -25px; }

#funcionalidades, #planos { padding: 66px 0; }

#funcionalidades .title { margin-bottom: 63px; }

#funcionalidades .title h2,
#planos .title h2,
#contato .title h2 {
  font: 600 2.5rem "Sora", sans-serif;
  line-height: 50px;
  color: var(--gray-200);
  text-align: center;
}

.container-func {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-func { width: 200px; text-align: center; margin: 20px 60px; }

.single-func img { margin-bottom: 23px; }

.single-func h3 {
  font: 600 1.1rem "Sora", sans-serif;
  line-height: 23px;
  color: var(--gray-200);
  margin-bottom: 16px;
}

.single-func p {
  max-width: 257px;
  font: 400 1rem "Inter", sans-serif;
  line-height: 26px;
  color: var(--gray);
}

#app { padding: 40px 0; background: var(--intro); }

#app .container { 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.ds-app h2 {
  font: 600 2rem "Sora", sans-serif;
  line-height: 40px;
  color: var(--gray-200);
  margin-bottom: 24px;
}

.ds-app p {
  max-width: 444px;
  font: 400 1rem "Inter", sans-serif;
  line-height: 26px;
  color: var(--gray);
  margin-bottom: 28px;
}

.ds-app a:nth-of-type(1) img { margin-right: 10px; }

#planos { padding-bottom: 140px; }

#planos .title { margin-bottom: 80px; }

#planos .title h2, #contato .title h2 { margin-bottom: 16px; }

#planos .title p,
#contato .title p {
  max-width: 570px;
  font: 400 1.1rem "Roboto", sans-serif;
  line-height: 25px;
  text-align: center;
  color: var(--gray);
  margin: auto;
}

.container-planos { display: flex; flex-wrap: wrap; }

.single-planos {
  width: calc(100% / 3 - 30px);
  margin: 15px;
  background: var(--intro);
  padding: 60px 32px 70px 32px;
  border-radius: 8px;
  text-align: center;
}

.single-planos:nth-child(2) { padding: 40px 32px 50px 32px; background: var(--gray-200); }

.single-planos h3 {
  font: 600 1.5rem "Sora", sans-serif;
  line-height: 30px;
  color: var(--gray-200);
  margin-bottom: 59px;
}

.single-planos:nth-child(2) h3 { margin-bottom: 20px; }

.single-planos:nth-child(2) a:first-of-type {
  font: 600 .8rem "Inter", sans-serif;
  line-height: 17px;
  letter-spacing: 0.2em;
  padding: 5px 32px;
  text-transform: uppercase;
  color: var(--white);
  background: #0F9AFE;
  border-radius: 15px;
}

.single-planos .valor { margin-top: 30px; }

.single-planos .valor span {
  font-weight: 700;
  font-family: "Roboro", sans-serif;
  color: var(--gray-200);
}

.single-planos:nth-child(2) .valor span { color: var(--white); }

.single-planos .valor span:nth-child(1) {
  font-size: 1.25rem;
  line-height: 23px;
  position: relative;
  top: -20px;
  right: -3px;
}

.single-planos .valor span:nth-child(2) { font-size: 3.1rem; line-height: 59px; }

.single-planos .valor span:nth-child(3) { font-size: 1.6rem; line-height: 30px; }

.single-planos p {
  max-width: 300px;
  font: 400 1.1rem "Roboto", sans-serif;
  line-height: 25px;
  color: var(--gray);
  margin: 45px auto;
}

.single-planos a:last-of-type {
  font: 700 1.25rem "Nunito", sans-serif;
  line-height: 27px;
  padding: 8px 80px;
  color: var(--white);
  background: #0F9AFE;
  box-shadow: 1px 3px 10px rgba(17, 37, 56, 0.5);
  border-radius: 50px;
}

.single-planos:nth-child(2) h3 {
  font: 600 2rem "Sora", sans-serif;
  line-height: 40px;
  color: var(--white);
}

#contato { padding: 90px 0; }

#contato {
  background-image: linear-gradient(45deg, #293145B3, #293145B3), url("../img/banner.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#contato .container .title { margin-bottom: 93px; }

#contato .container .title h2 { color: var(--white); }

#contato .container .title p { max-width: 528px; color: var(--gray-light); }

#contato .container form { display: flex; justify-content: center; }

#contato .container input {
  font: 400 1.1rem "Inter", sans-serif;
  line-height: 22px;
  color: var(--white);
}

#contato .container input::placeholder { color: var(--white); }

#contato .container input[type="email"] { border-bottom: 1px solid var(--white); background: transparent; }

#contato .container input[type="submit"] {
  padding: 8px 32px;
  margin-left: 40px;
  border-radius: 50px;
  background: var(--blue);
  cursor: pointer;
}

footer .container { text-align: center; padding: 37px 20px; }

footer .container p {
  font: 400 1.25rem "Sora", sans-serif;
  line-height: 25px;
  color: var(--gray-200);
}

@media screen and (max-width: 1022px) {
  .single-planos { width: calc(100% / 2 - 30px); }
}

@media screen and (max-width: 958px) {
  .intro .container { flex-wrap: wrap; flex-direction: column-reverse; }

  .ds-intro { text-align: center; }
}

@media screen and (max-width: 858px) {
  #app .container {  flex-wrap: wrap; flex-direction: column-reverse; }
}

@media screen and (max-width: 696px) {
  .menu { display: none; }

  .icon-menu { display: block; }

  .container-planos { justify-content: center; }

  .single-planos { width: 370px; }
}

@media screen and (max-width: 523px) {
  .img-intro img, .img-app img { width: 100%; height: auto; }
}

@media screen and (max-width: 425px) {
  #contato .container form { flex-direction: column; }

  #contato .container input[type="email"] { padding: 0 0 10px 0; margin-bottom: 30px; }

  #contato .container input[type="submit"] { padding: 10px; margin-left: 0; }
}