* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purple-light: #8257E6;
  --white: #FEFBFB;
  --white-200: #C4C4C4;
  --gray-200: #282830;
  --dark: #13131F;
}

::-webkit-scrollbar { width: 14px; }

::-webkit-scrollbar-thumb {
  background-color: var(--purple-light);
  border: 3px solid var(--gray-200);
}

::-webkit-scrollbar-track {  background: var(--gray-200); }

ul, ol { list-style: none; }

a { text-decoration: none; }

input { outline: none; }

html { background: var(--dark); }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo h1,
footer .container .logo h2 {
  font: 400 1.6rem "Lexend Deca", sans-serif;
  color: var(--purple-light);
}

.menu ul, .menu-error ul { display: flex; }

.menu li, .menu-error li { 
  margin-right: 10px; 
  padding: 10px;
}

.menu li:nth-of-type(5), .menu-error li:nth-of-type(5) { margin-right: 84px; }

.menu li:nth-of-type(6) { 
  margin-right: 0; 
  border: 1px solid var(--purple-light);
  border-radius: 50px;
  padding: 10px 20px;
}

.menu li a, 
.menu-error li a {
  font: 500 1rem "Inter", sans-serif;
  line-height: 19px;
  color: var(--white-200);
  padding: 10px;
  transition: color .3s;
}

.menu li a:hover, .menu-error li a:hover { color: var(--purple-light); }

footer { 
  margin-top: 50px;   
  padding-bottom: 30px; 
}

footer .container { 
  display: flex;
  align-items: center;  
  flex-direction: column;
  text-align: center;
}

footer .container .logo { margin-bottom: 16px; }

.copy p {
  max-width: 500px;
  font: 400 1rem "Inter", sans-serif;
  line-height: 24px;
  color: var(--white-200);
}

@media screen and (max-width: 976px) {
  .menu { display: none; }
}