#listagem , .menu ul, .container-img, .temp { display: flex; align-items: center;  }

#listagem { 
  width: 100%;
  justify-content: space-between; 
  padding: 30px 38px;
  position: absolute; 
  top: 0;
}

.menu ul li { margin-right: 80px; }

.menu ul li:last-of-type { margin-right: 0; }

.menu ul li a {
  font: 600 1.5rem "Open Sans", sans-serif;
  line-height: 33px;
  color: var(--white);
}

.menu ul li a img { position: relative; bottom: -5px; }

.container-img { margin-bottom: 25px; }

.banner { 
  min-height: 1080px;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  padding: 160px 38px 0 38px;
}

.genero,
.ds-filmes span {
  font: 600 .9rem "Open Sans", sans-serif;
  line-height: 16px;
  color: var(--yellow);
  padding: 4px 8px;
  background: var(--gray-dark);
  display: inline-block;
  border-radius: 0px 8px;
  margin-bottom: 28px;
}

.stars-img { display: flex; margin-right: 10px; }

.stars-img img { height: 42px; margin-left: -18px;}

.stars-img img:first-of-type { margin-left: -10px; }

.temp img { width: 20px; margin-right: 10px; }

.temp img, figcaption { position: relative; top: -2px; }

.temp figcaption {
  font: 600 .9rem "Open Sans", sans-serif;
  line-height: 18px;
  color: var(--white);
}

.ds-banner h1 {
  font: 600 3.3rem "Open Sans", sans-serif;
  line-height: 64px;
  color: var(--white);
  margin-bottom: 26px;
}

.ds-banner p {
  max-width: 536px;
  font: 400 1.25rem "Open Sans", sans-serif;
  line-height: 28px;
  color: var(--white);
  padding-left: 3px;
  margin-bottom: 61px;
}

.ds-banner a {
  font: 600 1.5rem "Open Sans", sans-serif;
  line-height: 32px;
  color: var(--gray-dark);
  padding: 12px 64px;
  background: var(--yellow);
  border-radius: 4px;
}

.filmes {
  padding: 0 38px;
  position: relative;
  top: -400px;
}

.box-filmes .title { margin-bottom: 42px; }

.box-filmes .title h2 {
  font: 600 2rem "Open Sans", sans-serif;
  line-height: 44px;
  color: var(--white);
}

.box-filmes .title h2::after {
  margin-top: 6px;
  width: 61px;
  display: block;
  content: '';
  border-bottom: 2px solid var(--yellow);  
}

#container-filmes { display: flex; overflow-x: scroll; padding-bottom: 35px; }

.single-filmes {
  width: 300px;
  height: 440px;
  margin-right: 81px;
  position: relative;
}

.single-filmes:last-child { margin-right: 0; }

.img-filmes { width: 300px; height: 440px; }

.ds-filmes {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 80.79%);
  position: absolute;
  bottom: 0;
}

.ds-filmes span { max-width: 79px; font: 400 .9rem "Open Sans", sans-serif; margin-bottom: 16px; }

.ds-filmes img { max-width: 80px; margin-bottom: 16px; }

.ds-filmes h3 {
  font: 600 1.5rem "Open Sans", sans-serif;
  line-height: 33px;
  color: var(--white);
}

@media screen and (max-width: 860px) {
  .menu { display: none; }
}

@media screen and (max-width: 360px) {
  .banner { margin-bottom: 120px; }

  .ds-banner a { padding: 12px 34px; }
}