* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --logo: linear-gradient(270deg, #FFA634 0%, #FF267A 100%);
  --scroll: linear-gradient(100deg, #FFA634 0%, #FF267A 100%);
  --tipo01: linear-gradient(225deg, #781FD1 0%, #570EAB 100%);
  --tipo02: linear-gradient(180deg, #64FA9B 0%, #5FE36A 100%);
  --tipo03: linear-gradient(180deg, #4DF0F3 0%, #4D7BFD 100%);
  --yellow: #FFA634;
  --white: #F9F9F9;
  --gray: #A8A8A8;
  --gray-dark: #181818;
  --dark: #121214;
}

::-webkit-scrollbar { width: 11px; height: 11px; }

::-webkit-scrollbar-thumb { background: var(--scroll); border-radius: 8px; }

::-webkit-scrollbar-track {  background: var(--gray-dark); }

a { text-decoration: none; }

ul, ol { list-style: none; }

img { width: 100%; height: auto; object-fit: cover; }

html { background: var(--dark); }

.container { max-width: 1200px; margin: auto; }

footer, .redes-sociais { display: flex; align-items: center; }

footer { justify-content: space-between; padding: 30px 38px; }

footer .logo h3 {
  color: var(--white);
  background-image: initial;
  background-clip: initial;  

  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.single-redes-sociais { margin-right: 60px; position: relative; bottom: -2px; }

.single-redes-sociais:last-child { margin-right: 0; }

@media screen and (max-width: 489px) {
  .single-redes-sociais { margin-right: 30px; }
}