* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

:root {
  --green: #5C913B;
  --yellow: #FFA200;
  --red: #CF3031;
  --pink: #FFD4C9;
  --white: #FEF6F4;
  --gray: #616161;
  --gray-200: #2E2E2E;
}

.container {
  max-width: 1300px;
  margin: auto;
}

