* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

:root {
  --red: #EC111A;
  --white: #F9F9F9;
  --dark: #1D1D1D;
}

body {
  width: 100%;
  height: 100vh;
}

