/*==== global ===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html::-webkit-scrollbar { 
  width: .66rem; 
}

html::-webkit-scrollbar-thumb {
  background-image: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
  border-radius: 9px;
}

/* font-family: 'Open Sans', sans-serif; */

/*==== variáveis ===================*/
:root {
  --body-color:#121214;
  --color-light: #F9F9F9;
  --color-gray: #A8A8A8;
  --color-dark: #121214;
  --color-gray-dark: #181818;
  --button: #FFA634;
}

/*==== layout ===================*/
.container {
  margin: 0 3rem;
  text-align: center;
}

.global {
  background: var(--body-color);
}

.logo {
  font: 700 2.5rem 'Mukta', sans-serif;

  background-image: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*==== nav ===================*/
nav.container {
  margin-top: .8rem;
  margin-bottom: .8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hour {
  font: 300 2.25rem 'Open Sans', sans-serif;
  color: var(--color-light);
}

/*==== welcome ===================*/
.welcome {
  margin-top: 3.9375rem;
}

.welcome .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  font: 300 4rem 'Open Sans', sans-serif;
  color: var(--color-light);

  margin-bottom: 1.5rem;
}

.welcome h2 {
  font: 300 2.5rem 'Open Sans', sans-serif;
  color: var(--color-light);

  margin-bottom: 10rem;
}

.welcome .one,
.welcome .two,
.welcome .tree {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.welcome .one {
  background: linear-gradient(225deg, #781FD1 0%, #570EAB 100%);
}

.welcome .two {
  background: linear-gradient(180deg, #64FA9B 0%, #5FE36A 100%);
}

.welcome .tree {
  background: linear-gradient(180deg, #4DF0F3 0%, #4D7BFD 100%);
}

.welcome .add-user {
  margin-top: 7rem;
  margin-bottom: 5rem;
  text-align: center;

  display: flex;
  justify-content: center;
}

.welcome .add-user a {
  font: 600 1.25rem 'Open Sans', sans-serif;
  color: var(--color-light);

  padding: 16px 40px;

  background: var(--color-gray-dark);
}

/*==== users ===================*/
.users {
  max-width: 63rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.users-link {
  width: calc(100% / 3 - 1.2rem);
  
  margin: 0.6rem;
  padding: 40px 20px;
  border-radius: 5px;

  transition: .4s background;
}

  .users-link:hover {
    background: var(--color-gray-dark);
  }

.users-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-single .users-img {
  margin-bottom: calc(2.5rem);
}

.users-single .users-name {
  font: 400 2rem 'Open Sans', sans-serif;
  color: var(--color-gray);
}

/*==== menu da listagem ===================*/
#header {
  background: transparent;
}

#header .container,
.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  margin-right: 5rem;
}

  .menu ul li:last-of-type {
    margin-right: 0;
  }

.menu ul li a {
  font: 600 1.5rem 'Open Sans', sans-serif;
  color: var(--color-light);
}

.menu ul li a img {
  position: relative;
  top: 0.25rem;
}

/*==== banner movie ===================*/
.banner-movie {
  
}

.banner-movie .container {
  margin: 0;
}

.movie {
  min-height: 66.875rem;

  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

/*==== responsive ===================*/
@media screen and (max-width: 768px) {
  .users-link {
    width: calc(100% / 2 - 1.2rem);
  }
}

@media screen and (max-width: 644px) {
  .users-link {
    width: calc(100% / 1);
  }
}

